/* ====================================================
            ******** Fonts *********
==================================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ====================================================
            ******** Utilities *********
==================================================== */

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
}

.section-wrapper {
    margin: 30px;
    width: 90%;
}

.half-width {
    width: 50%;
    text-align: left;
    margin: auto;
}

a {
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
}

/* ====================================================
            ******** Top Banner Style *********
                           start
==================================================== */
.top-banner {
    min-height: 370px;
    width: 5000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    margin-top: 50px;
}

.half-width {
    justify-content: center;
}

.desc-wrapper {
    padding-left: 80px;
}

.desc-wrapper,
.image-wrapper {
    width: 80%;
}

.top-banner .top-banner-title {
    font-size: 3.2552083333333335vw;
    font-weight: 700;
    text-align: left;
    color: white;
}

.top-banner .top-banner-desc {
    font-size: 80%;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.image-wrapper {
    padding-top: 20px;
    justify-content: center;
    align-items: baseline;
}

.image-wrapper img {
    width: 40%;
}

.link-button {
    display: inline-block;
    background-color: rgb(31, 60, 173);
    text-decoration: none;
    border: none;
    padding: 14px 22px;
    font-weight: 700;
    color: #fff;
    border-radius: 7px;
    transition: 60%;
    margin-top: 50px;

}

/* ====================================================
            ******** Top Banner Style *********
                           End
==================================================== */




/* ====================================================
            ******** Main Section Style *********
                           Start
==================================================== */

.main-section {
    grid-template-columns: 245px 1fr;
    column-gap: 15px;
}
/* ====================================================
            ******** Main Section Style *********
                           End
==================================================== */



/* ====================================================
            ******** Side Navigation Style *********
                           Start
==================================================== */
.side-nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 240px;
    background-color:black;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
}

.side-nav a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    width: 85%;
    height: 18px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 10px;

}



.side-nav #active {
    background-color:rgb(31, 60, 173) ;
    color: #FFFFFF;
}
.hhhh{
    padding-top: 2000px;
}
/* ====================================================
            ******** Side Navigation Style *********
                           End
==================================================== */

/* ====================================================
            ******** Blog Style *********
                        Start
==================================================== */
.blogs {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blogs .blog-details,
.blog-info {
    width: 90%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.mmmmm{
    border: 1px solid;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    padding: 5px 20px;
}

.sssss{
    color: black;
    font-weight: 600;
    font-size: 17px;

}
.blogs .blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.blog-thumbnail {
    margin-bottom: 10px;
    width: 100%;
}

.blog .blog-thumbnail img {
    width: 100%;
}

.blogs .blog-details a {
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;

}

.blogs .blog-details h1 {
    color: #000000;
}

.blog-info i {
    color: black;
    font-size: 13.5px;
    font-weight: 600;
    margin-right: 20px;
}
/* ====================================================
            ******** Blog Style *********
                        End
==================================================== */



/* ====================================================
            ******** Footer Style *********
                        Start
==================================================== */
footer {
    flex-direction: column;
    align-items: center;
    background-color: #161616;
}

footer a {
    color: #FFFFFF;
    background-color: #161616;
}

footer h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-links {
    padding: 30px;
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
    justify-content: center;

}

.footer-links a {
    margin: 15px 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
}

.social-links {
    margin-top: 20px;
    width: 20%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-links a {
    justify-content: space-evenly;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 10px;
}

#view-button {
    display: none;
}

/* ====================================================
            ******** Footer Style *********
                        End
==================================================== */


/* ====================================================
            ******** Matches Style *********
                        Start
==================================================== */

.matches .match {
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.match .match-details {
    justify-content: center;
    width: 90%;
    height: 90%;
}

.match-thumbnail {
    grid-template-columns: 1fr 0.5fr 1fr;
}

.match-thumbnail img {
    width: 100%;
}

.match-thumbnail p {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(22, 22, 22, 1);
}

.match-details h3,
p {
    text-align: center;
}

.match-details h3 {
    font-size: 20px;
}

.match-details p {
    font-size: 16px;
}
/* ====================================================
            ******** Blog Style *********
                        End
==================================================== */


/* ====================================================
            ******** Hover Style *********
                        Start
==================================================== */
.top-banner:hover {
    animation: banner 0.5 timing-function delay iteration-count direction fill-mode;
}

.top-banner:hover .link-button {
    animation: shake 2s linear infinite;
}

.top-banner .link-button:hover {
    animation-play-state: paused;
}

a:hover {
    background-color: black;
    border: 1px solid;
    color: #FFFFFF;
    transition: 0.2s;
}
footer a:hover {
    background-color: #FFFFFF;
    color: black;
    transition: 0.2s;
}

/* ====================================================
            ******** Hover Style *********
                        End
==================================================== */

/* ====================================================
    ******** Media Queries For Mobile*********
                    Start
==================================================== */

@media only screen and (max-width:767px) {

    .section-wrapper {
        width: 90%;
    }

    .top-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .half-width {
        width: 70%;
        text-align: center;
    }

    .top-banner .desc-wrapper {
        padding-left: 0px;
        padding-top: 20px;
    }

    .top-banner .desc-wrapper,
    .image-wrapper {
        width: 100%;
    }

    .top-banner .top-banner-title {
        font-size: 24px;
        text-align: center;
    }

    .top-banner .top-banner-desc {
        font-size: 12px;
        text-align: center;
    }

    .top-banner .image-wrapper {
        padding-top: 15px;
        justify-content: center;
        align-items: baseline;
    }

    .main-section {
        display: flex;
        flex-direction: column;
    }

    .side-nav {
        margin-top: -20px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
    }

    .side-nav a {
        border: 1px solid rgba(232, 232, 232, 1);
        color: rgba(22, 22, 22, 1);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .social-links a {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 24px;
    }
}
/* ====================================================
    ******** Media Queries For Mobile*********
                     End
==================================================== */

/* ====================================================
   ******** Media Queries For Tablet Devices*********
                      Start
==================================================== */
@media only screen and (min-width:768px) and (max-width:991px) {
    .main-section {
        display: flex;
        flex-direction: column;
    }

    .side-nav {
        flex-direction: row;
        background-color: #FFFFFF;
        justify-content: space-between;
        height: initial;
        width: 100%;
        margin-bottom: 50px;
    }

    .side-nav a {
        border: 1px solid rgba(232, 232, 232, 1);
        color: rgba(22, 22, 22, 1);
        width: 230px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    #view-button {
        display: flex;
        margin-bottom: 50px;
    }

}
/* ====================================================
   ******** Media Queries For Tablet Devices*********
                      End
==================================================== */